::-webkit-scrollbar-track {
  background-color: transparent !important;
  border-radius: 0.8rem;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0.44, #212121),
      color-stop(0.72, #020304),
      color-stop(0.86, #313131));
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  overflow-y: auto;
  z-index: 100;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.interactive-list-item {
  margin: 4px;
}

.btn-interactive {
  background-color: #313131;
  border: 1px solid transparent;
  color: #fff;
  font-size: 16px;
  padding: 5px;
  text-decoration: none;
  border-radius: 0.8rem;
  transition: .2s;
  cursor: pointer;
}

.btn-interactive:hover {
  background-color: transparent;
  border: 1px solid #212121;
  color: #212121;
}

.list-group {
  padding: 10px !important;
  margin-bottom: 50px !important;
}

.list-group-item {
  border: none !important;
  background-color: transparent !important;
  padding: 3px;
  cursor: pointer;
  border-radius: 0.8rem;
  transition: cubic-bezier(1, 0, 0, 1);
}

.list-group-item:hover {
  background-color: #313131 !important;
  color: #fff !important;
}

.list-group-item.active {
  background-color: #313131 !important;
}


#movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0rem, calc(40% - 6rem)));
  place-content: space-between space-evenly;
  -webkit-box-align: start;
  align-items: start;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.movie-card {
  border-radius: 0.8rem;
  position: relative;
  transform: scale(.8);
  transition: .4s;
}

.movie-card img {
  width: auto;
  height: 38rem;
  object-fit: cover;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  box-shadow: 0rem 2rem 5rem rgba(0, 0, 0, 0.2);
}

.movie-card:hover .card-body {
  background-color: #212121;
  color: #fff;
}


.card-body {
  background-color: transparent;
  text-align: center;
  padding: 1rem !important;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  transition: .4s;
}

.search-bar {
  display: none;
}

.favorite-button {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  background-color: #fff !important;
  color: #f00 !important;
  transition: .4s;
}

.favorite-button:hover {
  background-color: rgba(255, 255, 255, 0.105);
}

.favorite-button.clicked svg {
  animation: bounce 0.8s;
}

.search-bar.active {
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}

#searchButton {
  border: none;
  outline: none;
  background-color: #020304;
}

input:focus {
  box-shadow: none !important;
}

.ml0 {
  margin-left: 0px !important;
  transition: .4s;
}

#openMobile,
#closeToggle {
  display: none;
}

#favoritesList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0rem, calc(40% - 6rem)));
  place-content: space-between space-evenly;
  -webkit-box-align: start;
  align-items: start;
}

@media (max-width: 768px) {
  .sidebar {
    margin-left: -100%;
    background-color: #fff;
    transition: .4s;
  }

  .col-lg-2 {
    padding: 10px;
    background-color: #333333;
  }

  #openMobile {
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
  }

  #closeToggle {
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
  }

  .mobile-logo {
    color: #fff;
    margin-bottom: 0px !important;
    margin-left: 10px;
  }

  #openMobile,
  #closeToggle {
    display: block;
  }

  #movies,
  #favoritesList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0rem, calc(60% - 6rem)));
  }

  .movie-card img {
    width: auto;
    height: auto;
  }

  .card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


@keyframes bounce {

  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.bounce {
  animation-name: bounce;
}